@mixin toolButton {
  background-color: transparent;
  border: 1px solid;
  border-color: transparent;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  &:hover {
    border-color: rgba(0, 0, 0, 0.1);
  }
  &:focus {
    outline: none;
  }
  &.active {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
  }
}

@mixin toolImg {
  width: 26px;
  height: 26px;
  vertical-align: middle;
}

.de-toolbar-wrapper {
  .de-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0 8px;
    .bold-button,
    .italic-button,
    .underline-button,
    .strikethrough-button {
      @include toolButton();
      .bold-img,
      .italic-img,
      .underline-img,
      .strikethrough-img {
        @include toolImg();
      }
    }
  }
}
